<head>
  <%= stylesheet_link_tag 'public/customers' %>
</head>

<%= render 'layouts/header', genre: @genre %>
<div class="body">
  <div class="container">
    <h2 class="my-5 text-center">マイページ</h2>
    <div class="row justify-content-center mb-3">
      <h5>登録情報編集</h5>
    </div>

    <%= form_with model: @customer, url: customers_my_page_path, method: :patch do |f| %>
      <div class="customer-edit-box">
        <div>
          <p>名前</p>
          <label class="short-label">
            <%= f.text_field :last_name, required: true, autofocus: true, class: "short-input text-secondary" %>
          </label>
          <label class="short-label">
            <%= f.text_field :first_name, required: true, class: "short-input text-secondary" %>
          </label>
        </div>

        <div>
          <p>フリガナ</p>
          <label class="short-label">
            <%= f.text_field :last_name_kana, required: true, class: "short-input text-secondary" %>
          </label>
          <label class="short-label">
            <%= f.text_field :first_name_kana, required: true, class: "short-input text-secondary" %>
          </label>
        </div>

        <div>
          <label class="short-label">
            <p>電話番号(ハイフンなし)</p>
            <%= f.text_field :telephone_number, required: true, class: "short-input text-secondary" %>
          </label>
        </div>

        <div>
          <label class="short-label">
            <p>メールアドレス</p>
            <%= f.email_field :email, required: true, class: "short-input text-secondary" %>
          </label>
        </div>

        <div>
          <label class="short-label">
            <p>郵便番号</p>
            <%= f.text_field :postal_code, required: true, class: "short-input text-secondary" %>
          </label>
        </div>

        <div>
          <label class="long-label">
            <p>住所</p>
            <%= f.text_area :address, required: true, class: "long-input text-secondary" %>
          </label>
        </div>

      </div>

      <p class="text-center mt-3"><%= f.submit "保存", class: "btn btn-sm btn-purple-customers px-4 py-1" %></p>

    <% end %>

    <p class="text-center mt-3"><%= link_to customers_my_page_path, class: "btn btn-sm btn-back-customers px-4 py-1" do %>戻る<% end %></p>
    <p class="text-center mt-5"><%= link_to customers_unsubscribe_path, class: "btn btn-sm btn-red-customers px-2 py-1" do %>退会する<% end %></p>
  </div>
</div>
<%= render 'layouts/footer' %>
