<style>
.btn-back {
  color: white;
  background: #777777;
  margin: 0 auto;
  transition: 0.5s;
  margin-bottom: 10px;
}
.btn-back:hover {
  color: white;
  background: #444444;
  transition: 0.5s;
}

.btn-purple {
  color: white;
  background: #6A5ACD;
  transition: 0.5s;
}
.btn-purple:hover {
  color: white;
  background: #4B0082;
  transition: 0.5s;
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 20px;
  }
}
</style>

<%= render 'layouts/header', genre: @genre %>
<div class="body">
  <div class="container">

    <h2 class="my-5 text-center">マイページ</h2>

    <h5 class="text-center">登録情報<%= link_to edit_customer_path, class: "btn btn-back ml-2" do %>編集する<% end %></h5>

    <div class="row justify-content-center">
      <div class="col-8 col-sm-10 col-md-8 col-lg-6 col-xl-6">
        <div class="mb-3 border-bottom border-secondary">
          <h6>氏名</h6>
          <p class="text-center"><%= @customer.full_name %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h6>カナ</h6>
          <p class="text-center"><%= @customer.full_name_kana %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h6>郵便番号</h6>
          <p class="text-center"><%= @customer.postal_code %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h6>住所</h6>
          <p class="text-center"><%= @customer.address %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h6>電話番号</h6>
          <p class="text-center"><%= @customer.telephone_number %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h6>メールアドレス</h6>
          <p class="text-center"><%= @customer.email %></p>
        </div>
      </div>
    </div>
    <p class="text-center mt-4"><%= link_to orders_path, class: "btn btn-purple ml-2" do %>注文履歴一覧を見る<% end %></p>

  </div>
</div>