<%= render 'layouts/header', genre: @genre %>
<div class="body">
  <div class="container">

    <h2 class="my-5 text-center">マイページ</h2>

    <div class="row justify-content-center mb-3">
      <h5>登録情報<%= link_to edit_customer_path, class: "btn btn-success ml-2" do %>編集する<% end %></h4>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 col-sm-10 col-md-8 col-lg-6 col-xl-6">
        <div class="mb-3 border-bottom border-secondary">
          <p>氏名</p>
          <p class="text-center"><%= @customer.full_name %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h5>カナ</h5>
          <p class="text-center"><%= @customer.full_name_kana %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h5>郵便番号</h5>
          <p class="text-center"><%= @customer.postal_code %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h5>住所</h5>
          <p class="text-center"><%= @customer.address %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h5>電話番号</h5>
          <p class="text-center"><%= @customer.telephone_number %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <h5>メールアドレス</h5>
          <p class="text-center"><%= @customer.email %></p>
        </div>
      </div>
    </div>
    <p class="text-center mt-4"><%= link_to orders_path, class: "btn btn-primary ml-2" do %>注文履歴一覧を見る<% end %></p>

  </div>
</div>