<head>
  <%= stylesheet_link_tag 'public/customers' %>
</head>

<%= render 'layouts/header', genre: @genre %>
<div class="body">
  <div class="container">

    <h2 class="my-5 text-center">マイページ</h2>

    <h5 class="text-center">登録情報<%= link_to customers_my_page_edit_path, class: "btn btn-back-customers ml-2" do %>編集する<% end %></h5>

    <div class="row justify-content-center">
      <div class="col-8 col-sm-10 col-md-8 col-lg-6 col-xl-6">
        <div class="mb-3 border-bottom border-secondary">
          <p>氏名</p>
          <p class="text-center"><%= @customer.full_name %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <p>カナ</p>
          <p class="text-center"><%= @customer.full_name_kana %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <p>電話番号</p>
          <p class="text-center"><%= @customer.telephone_number %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <p>メールアドレス</p>
          <p class="text-center"><%= @customer.email %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <p>郵便番号</p>
          <p class="text-center"><%= @customer.postal_code %></p>
        </div>
        <div class="mb-3 border-bottom border-secondary">
          <p>住所</p>
          <p class="text-center"><%= @customer.address %></p>
        </div>

      </div>
    </div>
    <p class="text-center mt-4"><%= link_to orders_path, class: "btn btn-purple-customers ml-2" do %>注文履歴一覧を見る<% end %></p>
  </div>
</div>
<%= render 'layouts/footer' %>