
<div class="design-body">
  <div class="design-header">

    <div class="nav-text">
      <ul>マイページ</ul>
      <ul>ジャンル</ul>
        <li>&emsp;--髪飾り</li>
        <li>&emsp;--インテリア</li>
        <li>&emsp;--アクセサリー</li>
      <ul>すべての商品</ul>
      <ul>カート</ul>
      <ul>ログイン</ul>
      <ul>会員登録</ul>
    </div>
    <div class="design-nav"></div>
  </div>

  <ul class="slide-items">
    <li><img src="images/dummy.png" alt=""></li>
    <li><img src="images/dummy2.jpg" alt=""></li>
    <li><img src="images/dummy3.jpg" alt=""></li>
  </ul>


  <div class="design-box">

    <% @designs.each do |design| %>
      <div id="design-image">
        <%= design.design_name %>
          <% design.images.each do |image| %>
            <%= image_tag image.variant(resize: "200x200"), class:"pl-3" %>
          <% end %>
      </div>
      <!--<div>
      <%= design.genre_id %>

      <%= design.design_introduction %>
      <%= design.design_price %>
      </div>-->
    <% end %>
  </div>


  <div class="design-footer">
    <div class="icon"></div>
  </div>

</div>
