
<div class="design-body">
  <div class="design-header">

    <div class="nav-text">
      <ul>マイページ</ul>
      <ul>ジャンル</ul>
        <%= link_to designs_path(genre_id: 1), class: "path" do %><li>&emsp;--髪飾り</li><% end %>
        <%= link_to designs_path(genre_id: 2), class: "path" do %><li>&emsp;--インテリア</li><% end %>
        <%= link_to designs_path(genre_id: 4), class: "path" do %><li>&emsp;--アクセサリー</li><% end %>
      <%= link_to designs_path, class: "path" do %><ul>すべての商品</ul><% end %>
      <ul>カート</ul>
      <%= link_to new_customer_session_path, class: "path" do %><ul>ログイン</ul><% end %>
      <%= link_to new_customer_registration_path, class: "path" do %><ul>会員登録</ul><% end %>
    </div>
    <div class="design-nav"></div>
  </div>

  <ul class="slide-items">
    <li><img src="images/dummy.png" alt=""></li>
    <li><img src="images/dummy2.jpg" alt=""></li>
    <li><img src="images/dummy3.jpg" alt=""></li>
  </ul>


  <div class="design-box">
    <% @designs.each do |design| %>
      <%= design.design_name %>
      <%= design.design_price %>
      <%= design.genre.name %>
        <% design.images.each do |image| %>
            <%= image_tag image.variant(resize: "200x200"), class:"pl-3" %>
        <% end %>
    <% end %>
  </div>


  <div class="design-footer">
    <div class="icon"></div>
  </div>

</div>
