

<head>
  <style>

  .body {
    width: 100%;
    font-family: 'Zen Antique', serif;
  }

  .designs-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: start;
  }

  .design-item {
    max-width: 300px;
    width: 25%;
    padding: 0 10px;
  }

  .regular {
    width: 100%;
  }

  .regular img {
    transition-duration: 0.5s;
  }
  .regular img:hover {
    transform: scale(1.2) rotate(9deg);
    transition-duration: 0.5s;
  }
  .design-detail p:nth-child(2) {
    margin-bottom: 3px;
  }
  .design-detail p:nth-child(1) {
    color: gray;
    font-size: min(0.8vw, 13px);
    margin-bottom: 0;
  }
  .design-detail p {
    color: black;
    font-size: min(1vw,15px);
  }


@media screen and (max-width: 576px) {
  .designs-box {
    width: 100%;
  }
  .design-item {
     width: 50%;
   }
  .design-detail p:nth-child(1) {
    font-size: 10px;
  }
  .design-detail p {
    font-size: 12px;
  }
}

  </style>
</head>

<%= render 'layouts/header', genre: @genre %>


<div class="body">

  <% if params[:genre_id].present? %>
    <h2 class="my-5 text-center"><%= @genre1.name %></h2>
  <% else %>
    <h2 class="my-5 text-center">すべての商品</h2>
  <% end %>

  <div class="designs-box">
    <% @designs.each do |design| %>
      <div class="design-item">
        <%= link_to design_path(design.id), class: "path" do %>
          <div class="regular">
            <% design.images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          </div>

          <div class="design-detail">
            <p><%= design.genre.name %></p>
            <p><%= design.design_name %></p>
            <% if design.design_type == true %>
              <p>￥<%= design.with_tax_price.to_s(:delimited) %>～</p>
            <% else %>
              <p>￥<%= design.with_tax_price.to_s(:delimited) %></p>
            <% end %>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>
