<%= render 'layouts/header', genre: @genre %>



<div class="body">
    <div class="designs-box">
        <% @designs.each do |design| %>

            <div class="design-item">
                <%= link_to design_path(design.id), class: "path" do %>
                <div class="regular slider">
                  <% design.images.each do |image| %>
                    <div class="img"><%= image_tag image %></div>
                  <% end %>
                </div>

                <div class="design-detail">
                  <h5>￥<%= design.design_price %>～</h5>
                  <span class="design-index-genre"><%= design.genre.name %></span>
                </div>
                <% end %>

            </div>

        <% end %>
    </div>
 </div>
