<head>
  <%= stylesheet_link_tag 'public/designs_index' %>
</head>

<%= render 'layouts/header', genre: @genre %>


<div class="body">

  <% if params[:genre_id].present? %>
    <h2 class="my-5 text-center"><%= @genre1.name %></h2>
  <% else %>
    <h2 class="my-5 text-center">すべての商品</h2>
  <% end %>

  <div class="designs-box">
    <% @designs.each do |design| %>
      <div class="design-item">
        <%= link_to design_path(design.id), class: "path" do %>
          <div class="regular">
            <% design.images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          </div>

          <div class="design-detail">
            <p><%= design.genre.name %></p>
            <p><%= design.design_name %></p>
            <% if design.design_type == true %>
              <p>￥<%= design.with_tax_price.to_s(:delimited) %>～</p>
            <% else %>
              <p>￥<%= design.with_tax_price.to_s(:delimited) %></p>
            <% end %>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>
