

<head>
  <style>

  .body {
    width: 100%;
    font-family: 'Zen Antique', serif;
  }

  .designs-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .design-item {
    max-width: 300px;
    width: 25%;
    /*// margin: 0 30px;*/
  }

  .regular {
    width: 90%;
    // margin: 0 30px;
  }
  .slick-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .design-detail {
    width: 90%;
    /*// max-width: 300px;*/
    /*// margin: 0 30px;*/
    /*// max-height: 200px;*/
    color: black;
  }
  .design-detail h5 {
    margin-bottom: 0;
  }
  .design-index-genre {
    font-size: 0.8em;
    color: gray;
  }

  .slick-slide {
    margin: 0 5px;
  }

  .slick-prev, .slick-next {
    z-index: 1;
    font-weight: bold;
  }

  </style>
</head>


<div class="body">
  <%= render 'layouts/header', genre: @genre %>
    <div class="designs-box">
        <% @designs.each do |design| %>

            <div class="design-item">
                <%= link_to design_path(design.id), class: "path" do %>
                <div class="regular slider">
                  <% design.images.each do |image| %>
                    <div class="img"><%= image_tag image %></div>
                  <% end %>
                </div>

                <div class="design-detail">

                  <% if design.design_type == true %>
                    <h5>￥<%= design.with_tax_price.to_s(:delimited) %>～</h5>
                  <% else %>
                    <h5>￥<%= design.with_tax_price.to_s(:delimited) %></h5>
                  <% end %>
                  <span class="design-index-genre"><%= design.genre.name %></span>
                </div>
                <% end %>

            </div>

        <% end %>
    </div>
  <%= render 'layouts/footer' %>
</div>
