<div class="design-body">
<%= render 'layouts/header' %>


  <% @designs.each do |design| %>
    <%= link_to design_path(design.id) do %>
    <div class="design-box">
      <div class="design-detail">
        <%= design.design_name %><br>
        <%= design.design_price %><br>
        <%= design.genre.name %><br>
      </div>
      <div class="design-image">
        <% design.images.each do |image| %>
          <div class="img"><%= image_tag image.variant(resize: "200x200"), class:"pl-3" %></div>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>



  <div class="design-footer">
    <div class="icon"></div>
  </div>

</div>
