<head>
  <%= stylesheet_link_tag 'public/designs_show' %>
</head>


<%= render 'layouts/header', genre: @genre %>


<div class="body">

  <script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>



  <div class="design-box2">
    <div class="slider6-wrap">
        <ul class="slider-6" id="js-slider-6">
        <% @design.images.each do |image| %>
            <li><%= image_tag image %></li><!--.variant(resize: "200x200")-->
        <% end %>
        </ul>
        <div class="thumbs_dots"></div>
    </div>
    <div class="design-content">
      <div class="review-link">
        <%= link_to reviews_path(design_id: @design.id) do %><p>レビュー<%= @design.reviews.count %>件</p><% end %>
        <p id="star-rate-<%= @design.id %>" class="p-0 ml-4"></p>
      </div>
      <h4><%= @design.design_name %></h4>
      <p><%= @design.design_introduction %></p>
      <% if @design.design_type %>
        <p><%= "￥" %><%= @design.with_tax_price.to_s(:delimited) %><%= "～" %></p>
      <% else %>
        <p><%= "￥" %><%= @design.with_tax_price.to_s(:delimited) %></p>
      <% end %>
    </div>
  </div>


  <% if @design.design_type %>
    <div class="item-box">
      <% @items.each do |item| %>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true, class: "item-form" do |f| %>
          <%= f.hidden_field :amount, :value => "1" %>
          <%= f.hidden_field :item_id, :value => item.id %>
          <div class="item-content">
            <%= image_tag item.image %><!--.variant(resize: "200x00")-->
            <p class="item-box-p"><%= item.item_introduction %></p>
            <p class="item-box-p">￥<%= item.with_tax_price.to_s(:delimited) %>(税込)</p>
            <% if item.is_active && item.stock >= 1 %> <!--販売中の商品、または在庫が1つ以上ある商品の場合-->
                <p class="item-box-p">残り<%= item.stock %>個</p>
                <a class="item-box-a"><p class="item-box-btn"><%= f.submit "カートに入れる", class: "btn btn-item btn-blue-designs" %></p></a>
            <% else %>
                <p class="item-box-p text-danger">販売停止中</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @design.design_type == false %>
    <div class="custom-item-box">
      <div class="custom-item-content">
        <div id="src">
          <span>①</span>
          <span>②</span>
          <span id="svg-span3">③</span>
          <span>④</span>
          <span>⑤</span>
          <span>⑥</span>
          <span>⑦</span>
          <span>⑧</span>
          <svg id="svg" xmlns="http://www.w3.org/2000/svg">
            <!--左真横 上円＆下円-->
            <path d="M 130 130 C 120 110, 40 110, 30 130
                     M 130 130 C 120 150, 40 150, 30 130" stroke="black" stroke-width="2" fill="white" id="left"/>

            <!--右真横　上＆下-->
            <path d="M 130 130 C 140 110, 220 110, 230 130
                     M 130 130 C 140 150, 220 150, 230 130" stroke="black" stroke-width="2" fill="white" id="right"/>

            <!--上　左＆右-->
            <path d="M 130 130 C 110 120, 110 40, 130 30
                     M 130 130 C 150 120, 150 40, 130 30" stroke="black" stroke-width="2" fill="white" id="top"/>

            <!--下　左＆右-->
            <path d="M 130 130 C 110 140, 110 220, 130 230
                     M 130 130 C 150 140, 150 220, 130 230" stroke="black" stroke-width="2" fill="white" id="bottom"/>

            <!--左上　右&左-->
            <path d="M 130 130 C 120 90, 100 70, 60 60
                     M 130 130 C 90 120, 70 110, 60 60" stroke="black" stroke-width="2" fill="white" id="lefttop"/>


            <!--左下　左＆右-->
            <path d="M 130 130 C 90 140, 70 170, 60 210
                     M 130 130 C 120 170, 110 190, 60 210" stroke="black" stroke-width="2" fill="white" id="leftbottom"/>

            <!--右上　左＆右-->
            <path d="M 130 130 C 140 90, 160 70, 200 60
                     M 130 130 C 170 120, 190 110, 200 60" stroke="black" stroke-width="2" fill="white" id="righttop"/>

            <!--右下　左＆右-->
            <path d="M 130 130 C 140 170, 150 190, 200 210
                     M 130 130 C 170 140, 190 170, 200 210" stroke="black" stroke-width="2" fill="white" id="rightbottom"/>
          </svg>
        </div>

        <div class="colorpicker-box">
          <p class="custom-p">カラーを選択してください。</p>

          <p class="custom-p"><label>①の色選択
            <input id="colorPicker1" type="color" name="favorite_color">
          </label></p>

          <p class="custom-p"><label>②の色選択
            <input id="colorPicker2" type="color" name="favorite_color">
          </label></p>
          <p class="custom-p"><label>③の色選択
            <input id="colorPicker3" type="color" name="favorite_color">
          </label></p>
          <p class="custom-p"><label>④の色選択
            <input id="colorPicker4" type="color" name="favorite_color">
          </label></p>
          <p class="custom-p"><label>⑤の色選択
            <input id="colorPicker5" type="color" name="favorite_color">
          </label></p>
          <p class="custom-p"><label>⑥の色選択
            <input id="colorPicker6" type="color" name="favorite_color">
          </label></p>
          <p class="custom-p"><label>⑦の色選択
            <input id="colorPicker7" type="color" name="favorite_color">
          </label></p>
          <p class="custom-p"><label>⑧の色選択
            <input id="colorPicker8" type="color" name="favorite_color">
          </label>
        </div>

        <p class="custom-p change-img"><input type="button" value="画像に変換" onclick="chgImg()"><br></p>

        <div class="preview-box" id="dst"></div>
        <%= form_with model: @item, url: cart_items_order_made_create_path, method: :post do |f| %>
          <div class="custom-image-form">
            <%= f.hidden_field :original_item_id, :value => @item1.id %>
            <p class="custom-p">好きな画像を右クリック(スマートフォンの場合は長押し)<br>で保存し、画像を一枚添付してください</p>
            <p class="custom-p"><%= f.file_field :image, accept: "image/png", required: true %></p>
                                　　                          　<!--　↑　変換後の画像はpngになるからファイル指定-->
          </div>

          <div class="custom-item-submit">
            <% if @item1.is_active && @item1.stock >= 1 %> <!--販売中の商品、または在庫が1つ以上ある商品の場合-->
                <a><p class="custom-item-box-btn"><%= f.submit "色選択した商品をカートに入れる", class: "btn btn-custom btn-blue-designs" %></p></a>
            <% else %>
                <p class="text-danger">販売停止中</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>





<script>


  function chgImg() {
    (async () => {
      try {
        let img = new Image();
        img.src = await domtoimage.toPng(svg);
        dst.appendChild(img);
      }
      catch (e) {
        console.error("oops, something went wrong!", error);
      }
    })();
  };

  const colorSettingList = [
  { locationElementId: 'top', colorPickerId: 'colorPicker1' },
  { locationElementId: 'righttop', colorPickerId: 'colorPicker2' },
  { locationElementId: 'right', colorPickerId: 'colorPicker3' },
  { locationElementId: 'rightbottom', colorPickerId: 'colorPicker4' },
  { locationElementId: 'bottom', colorPickerId: 'colorPicker5' },
  { locationElementId: 'leftbottom', colorPickerId: 'colorPicker6' },
  { locationElementId: 'left', colorPickerId: 'colorPicker7' },
  { locationElementId: 'lefttop', colorPickerId: 'colorPicker8' },
]

colorSettingList.forEach((obj) => {
    const e = document.getElementById(obj.locationElementId);
    const colorPicker = document.getElementById(obj.colorPickerId);
    if (colorPicker) {
        colorPicker.value = "#00F000";
        colorPicker.addEventListener('change', function(){
          e.style.fill = this.value;
        });
    }
})

//↑ 下のを省略した形

//   let toptop = document.getElementById('top');
//   let colorPicker1 = document.getElementById('colorPicker1');
//   if (colorPicker1) {
//       colorPicker1.value = "#00F000";
//       colorPicker1.addEventListener('change', function(){
//         toptop.style.fill = this.value;
//       });
//   }


//   let righttop = document.getElementById('righttop');
//   let colorPicker2 = document.getElementById('colorPicker2');
//   if (colorPicker2) {
//       colorPicker2.value = "#00F000";
//       colorPicker2.addEventListener('change', function(){
//         righttop.style.fill = this.value;
//       });
//   }


//   let right = document.getElementById('right');
//   let colorPicker3 = document.getElementById('colorPicker3');
//   if (colorPicker3) {
//       colorPicker3.value = "#00F000";
//       colorPicker3.addEventListener('change', function(){
//         right.style.fill = this.value;
//       });
//   }

//   let rightbottom = document.getElementById('rightbottom');
//   let colorPicker4 = document.getElementById('colorPicker4');
//   if (colorPicker4) {
//       colorPicker4.value = "#00F000";
//       colorPicker4.addEventListener('change', function(){
//         rightbottom.style.fill = this.value;
//       });
//   }

//   let bottom = document.getElementById('bottom');
//   let colorPicker5 = document.getElementById('colorPicker5');
//   if (colorPicker5) {
//   colorPicker5.value = "#00F000";
//   colorPicker5.addEventListener('change', function(){
//     bottom.style.fill = this.value;
//   });
//   }

//   let leftbottom = document.getElementById('leftbottom');
//   let colorPicker6 = document.getElementById('colorPicker6');
//   if (colorPicker6) {
//   colorPicker6.value = "#00F000";
//   colorPicker6.addEventListener('change', function(){
//     leftbottom.style.fill = this.value;
//   });
//   }

//   let left = document.getElementById('left');
//   let colorPicker7 = document.getElementById('colorPicker7');
//   if (colorPicker7) {
//   colorPicker7.value = "#00F000";
//   colorPicker7.addEventListener('change', function(){
//     left.style.fill = this.value;
//   });
//   }

//   let lefttop = document.getElementById('lefttop');
//   let colorPicker8 = document.getElementById('colorPicker8');
//   if (colorPicker8) {
//   colorPicker8.value = "#00F000";
//   colorPicker8.addEventListener('change', function(){
//     lefttop.style.fill = this.value;
//   });
// 　}


  $('#star-rate-<%= @design.id %>').raty({
    size: 36,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,   /*星半分表示*/
    readOnly: true,   /*読み取り専用*/
    score: <%= @design.reviews.average(:rate).to_f.round(1) %>,   /*星評価の表示*/
  });

</script>