<%= render 'layouts/header' %>

<div class="design-image">
    <% @design.images.each do |image| %>
        <%= image_tag image.variant(resize: "200x200"), class:"pl-3" %>
    <% end %>
</div>

<div class="design-content">
    <%= @design.design_name %><br>
    <%= @design.design_introduction %><br>
    <%= "￥" %><%= @design.with_tax_price %><%= "～" %>
</div>



<% @items.each do |item| %>
<%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
<%= f.hidden_field :amount, :value => "1" %>
    <div class="item-content">
        <%= f.hidden_field :item_id, :value => item.id %>
        <%= image_tag item.image.variant(resize: "150x150") %>
        <%= item.design.design_name %>
        <%= item.item_introduction %>
        <%= item.with_tax_price %>
        <%= item.stock %>
        <%= f.submit "カートに入れる", class: "btn btn-primary" %>
    </div>
<% end %>
<% end %>

<!--<img src="images/tsumami2_3.png" alt="画像" width="200" height="150">