<head>
<style>

.design-show-body {
  font-family: 'Kaisei Tokumin', serif;
  font-weight: bold;
}
.design-box2 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.design-content {
  width: 450px;
  height: auto;
  margin-left: 20px;
}
.design-content p {
  font-size: 1rem;
}

.design-content p:nth-child(3) {
  margin-top: 20px;
}

.slider6-wrap {
  width: 450px;/*sliderメイン画像横幅*/
  position: relative;
}
.slider-6 .slick-slide {
  height: auto;/*sliderメイン画像高さ*/
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.slider-6 .slick-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;/*アスペクト比を維持したまま、枠に収まるように拡大縮小される。*/
}
.thumbs_dots {
  margin: 10px 0 0;
}
.thumbs_list li {
  display: inline-block;
  width: 25%;
  padding-top:25%;/*高さをwidthと同じ値にする*/
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
}
.thumbs_list li.slick-active {
  opacity: 1;
}


.item-box {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto;
  margin-top: 50px;
}
.item-form {
  width: 185px;
  margin: 0 20px 20px 0;
}

.item-content img {
  width: 100%;
  height: auto;
}

.item-box-p {
  font-size: 15px;
}
.item-box p:nth-child(7),p:nth-child(8) {
  text-align: center;
  margin: 0;
}


.custom-item-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;/*左右中央*/
  align-items: center;/*上下中央*/
}
.custom-p {
  font-size: 15px;
  margin-bottom: 0;
}
.custom-item-form {
  width: 100%;
}

svg {
  height: 260px;
  width: 260px;
}
.colorpicker-box {
  width: 250px;
  text-align: center;/*左右中央*/
}

.custom-item-submit {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.btn-blue {
  color: white;
  background: #008080;
}
.btn-blue:hover {
  color: white;
  background: #6A5ACD;
}

.btn-item {
  margin: 0 auto;
  padding: 5px 2px;
}
.preview-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;/*左右中央*/
  /*display:block;*/
  /*display: inline-block;*/
  /*vertical-align: top;*/
}
#src {
  width: 260px;
  height: 260px;
  border: 1px solid black;
}

.custom-image-form {
  margin-top: 90px;
}

@media screen and (max-width: 1200px) {/*1000px以上の時*/
.slider6-wrap {
  width: 40%;/*sliderメイン画像横幅*/
}
.design-content {
  width: 40%;
}
.item-form {
  width: 25%;
  margin: 0 20px 20px 0;
}
}
@media screen and (max-width: 768px) {
.slider6-wrap {
  width: 45%;/*sliderメイン画像横幅*/
}
.design-content {
  width: 45%;
}
.item-box-p {
  font-size: 12px;
  margin-bottom: 2px;
}
.btn-item {
  font-size: 12px;
}
@media screen and (max-width: 576px) {/*576px以下の時*/
.slider6-wrap {
  width: 90%;//sliderメイン画像横幅
  position: relative;
}
.design-content {
  width: 90%;
  margin-left: 0;
}
.item-form {
  width: 30%;
  margin: 0 10px 10px 0;
}
.item-box-p {
  font-size: 8px;
  margin-bottom: 2px;
}

.btn-item {
  font-size: 8px;
}
}

@media screen and (max-width: 425px) {/*425px以下の時*/
.item-form {
  width: 40%;
  margin: 0 10px 10px 0;
}
.design-box2 {
  width: 95%;
}
.item-box-p {
  font-size: 6px;
  margin-bottom: 0;
}
.btn-item {
  font-size: 3px;
}
</style>
</head>

<body>
<%= render 'layouts/header', genre: @genre %>

<div class="body">
  <script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>

    <div class="design-box2">
        <div class="slider6-wrap">
            <ul class="slider-6" id="js-slider-6">
            <% @design.images.each do |image| %>
                <li><%= image_tag image %></li><!--.variant(resize: "200x200")-->
            <% end %>
            </ul>
            <div class="thumbs_dots"></div>
        </div>
        <div class="design-content">
            <h4><%= @design.design_name %></h4>
            <p><%= @design.design_introduction %></p>
            <p><%= "￥" %><%= @design.with_tax_price %><%= "～" %></p>
        </div>
    </div>


    <div class="item-box">
      <% if @design.design_type == true %>
        <% @items.each do |item| %>
          <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true, class: "item-form" do |f| %>
            <%= f.hidden_field :amount, :value => "1" %>
            <%= f.hidden_field :item_id, :value => item.id %>
            <div class="item-content">
                <%= image_tag item.image %><!--.variant(resize: "200x00")-->
                <p class="item-box-p"><%= item.design.design_name %></p>
                <p class="item-box-p"><%= item.item_introduction %></p>
                <p class="item-box-p">￥<%= item.with_tax_price %>(税込)</p>
                <p class="item-box-p">残り<%= item.stock %>個</p>
                <% if item.is_active == true && item.stock >= 1 %> <!--販売中の商品、または在庫が1つ以上ある商品の場合-->
                    <p class="item-box-p"><%= f.submit "カートに入れる", class: "btn btn-item btn-blue" %></p>
                <% else %>
                    <p class="item-box-p text-danger">販売停止中</p>
                <% end %>
            </div>
          <% end %>
        <% end %>

      <% else %>
            <div class="custom-item-content">
              <div id="src">
                <svg id="svg" xmlns="http://www.w3.org/2000/svg">
                  <!--左真横 上円＆下円-->
                  <path d="M 130 130 C 120 110, 40 110, 30 130
                           M 130 130 C 120 150, 40 150, 30 130" stroke="black" stroke-width="2" fill="white" id="left"/>

                  <!--右真横　上＆下-->
                  <path d="M 130 130 C 140 110, 220 110, 230 130
                           M 130 130 C 140 150, 220 150, 230 130" stroke="black" stroke-width="2" fill="white" id="right"/>

                  <!--上　左＆右-->
                  <path d="M 130 130 C 110 120, 110 40, 130 30
                           M 130 130 C 150 120, 150 40, 130 30" stroke="black" stroke-width="2" fill="white" id="toptop"/>

                  <!--下　左＆右-->
                  <path d="M 130 130 C 110 140, 110 220, 130 230
                           M 130 130 C 150 140, 150 220, 130 230" stroke="black" stroke-width="2" fill="white" id="bottom"/>

                  <!--左上　右&左-->
                  <path d="M 130 130 C 120 90, 100 70, 60 60
                           M 130 130 C 90 120, 70 110, 60 60" stroke="black" stroke-width="2" fill="white" id="lefttop"/>


                  <!--左下　左＆右-->
                  <path d="M 130 130 C 90 140, 70 170, 60 210
                           M 130 130 C 120 170, 110 190, 60 210" stroke="black" stroke-width="2" fill="white" id="leftbottom"/>

                  <!--右上　左＆右-->
                  <path d="M 130 130 C 140 90, 160 70, 200 60
                           M 130 130 C 170 120, 190 110, 200 60" stroke="black" stroke-width="2" fill="white" id="righttop"/>

                  <!--右下　左＆右-->
                  <path d="M 130 130 C 140 170, 150 190, 200 210
                           M 130 130 C 170 140, 190 170, 200 210" stroke="black" stroke-width="2" fill="white" id="rightbottom"/>
                </svg>
              </div>

              <div class="colorpicker-box">
                <p class="custom-p">カラーを選択してください。</p>
                <p class="custom-p"><label>①の色選択
                  <input id="colorPicker1" type="color" name="favorite_color">
                </label></p>

                <p class="custom-p"><label>②の色選択
                  <input id="colorPicker2" type="color" name="favorite_color">
                </label></p>
                <p class="custom-p"><label>③の色選択
                  <input id="colorPicker3" type="color" name="favorite_color">
                </label></p>
                <p class="custom-p"><label>④の色選択
                  <input id="colorPicker4" type="color" name="favorite_color">
                </label></p>
                <p class="custom-p"><label>⑤の色選択
                  <input id="colorPicker5" type="color" name="favorite_color">
                </label></p>
                <p class="custom-p"><label>⑥の色選択
                  <input id="colorPicker6" type="color" name="favorite_color">
                </label></p>
                <p class="custom-p"><label>⑦の色選択
                  <input id="colorPicker7" type="color" name="favorite_color">
                </label></p>
                <p class="custom-p"><label>⑧の色選択
                  <input id="colorPicker8" type="color" name="favorite_color">
                </label>
              </div>
               <p class="custom-p"><input type="button" value="画像に変換" onclick="chgImg()"><br></p>

              <div class="preview-box" id="dst"></div>

              <div class="custom-image-form">
                <%= form_with model: @item, url: cart_items_order_made_create_path, method: :post do |f| %>
                  <%= f.hidden_field :original_item_id, :value => @item.id %>
                  <p class="custom-p">画像を一枚添付してください</p>
                  <p class="custom-p"><%= f.file_field :image, accept: "image/*", required: true %></p>
              </div>

              <div class="custom-item-submit">
                <% if @item.is_active == true && @item.stock >= 1 %> <!--販売中の商品、または在庫が1つ以上ある商品の場合-->
                    <%= f.submit "色選択した商品をカートに入れる", class: "btn btn-custom btn-blue" %>
                <% else %>
                    <p class="text-danger">販売停止中</p>
                <% end %>
              </div>
              <% end %>
            </div>
        <% end %>
    </div>



<!--<img src="images/tsumami2_3.png" alt="画像" width="200" height="150">-->


</body>
<script>


  let toptop = document.getElementById('toptop');
  let colorPicker1 = document.getElementById('colorPicker1');
  colorPicker1.value = "#00F000";
  colorPicker1.addEventListener('change', function(){
    toptop.style.fill = this.value;
  });

  let righttop = document.getElementById('righttop');
  let colorPicker2 = document.getElementById('colorPicker2');
  colorPicker2.value = "#00F000";
  colorPicker2.addEventListener('change', function(){
    righttop.style.fill = this.value;
  });

  let right = document.getElementById('right');
  let colorPicker3 = document.getElementById('colorPicker3');
  colorPicker3.value = "#00F000";
  colorPicker3.addEventListener('change', function(){
    right.style.fill = this.value;
  });

  let rightbottom = document.getElementById('rightbottom');
  let colorPicker4 = document.getElementById('colorPicker4');
  colorPicker4.value = "#00F000";
  colorPicker4.addEventListener('change', function(){
    rightbottom.style.fill = this.value;
  });

  let bottom = document.getElementById('bottom');
  let colorPicker5 = document.getElementById('colorPicker5');
  colorPicker5.value = "#00F000";
  colorPicker5.addEventListener('change', function(){
    bottom.style.fill = this.value;
  });

  let leftbottom = document.getElementById('leftbottom');
  let colorPicker6 = document.getElementById('colorPicker6');
  colorPicker6.value = "#00F000";
  colorPicker6.addEventListener('change', function(){
    leftbottom.style.fill = this.value;
  });

  let left = document.getElementById('left');
  let colorPicker7 = document.getElementById('colorPicker7');
  colorPicker7.value = "#00F000";
  colorPicker7.addEventListener('change', function(){
    left.style.fill = this.value;
  });

  let lefttop = document.getElementById('lefttop');
  let colorPicker8 = document.getElementById('colorPicker8');
  colorPicker8.value = "#00F000";
  colorPicker8.addEventListener('change', function(){
    lefttop.style.fill = this.value;
  });


  function chgImg()
{
    (async () => {
      try {
        let img = new Image();
        img.src = await domtoimage.toPng(src);
        dst.appendChild(img);
      } catch (e) {
        console.error("oops, something went wrong!", error);
      }
    })();
}





</script>

