<div class="container">

  <div class="row mb-3 justify-content-center">
    <div class="col-sm-4 col-lg-3 col-xl-2 col-form-label"><h3>Log in</h3></div>
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row mb-3 justify-content-center">
      <label for="admin_email" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">メールアドレス</label>
      <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40x10" %>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <label for="admin_password" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">パスワード</label>
      <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
        <%= f.password_field :password, autocomplete: "current-password", size: "40x10" %>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <label for="admin_password" class="col-sm-4 col-lg-3 col-xl-2 col-form-label"></label>
      <div class="col-sm-4 col-lg-5 col-xl-5 col-md-4">
        <%= f.submit "ログイン", class: "btn btn-sm btn-primary px-4 py-1" %>
      </div>
    </div>

    <% end %>

  </div>

<%= render "admin/shared/links" %>

</div>