<div class="nested-fields"><!--nested-fieldsはフォーム削除に必要-->

  <div class="item-content">

    <div class="row">
      <div class="col-md-2 col-sm-3 font-weight-bold"><label for="item[image]">通常商品画像</label></div>
      <div class="col-auto"><%= item.file_field :image, accept: "image/*" %></div><br>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-3 font-weight-bold"><label for="item[item_introduction]">商品説明</label></div>
      <div class="col-auto"><%= item.text_area :item_introduction, required: true %></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3 font-weight-bold"><label for="item[item_price]">税抜価格</label></div>
        <div class="col-auto"><%= item.text_field :item_price, required: true %></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3 font-weight-bold"><label for="item[stock]">在庫数</label></div>
      <div class="col-auto"><%= item.number_field :stock ,min: 0, max:10, required: true %></div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-3 font-weight-bold"></div>
      <%= item.radio_button :is_active, true %>
      <%= item.label :is_active, "販売中", {value: true, style: "display: inline-block;"} %>
      <%= item.radio_button :is_active, false %>
      <%= item.label :is_active, "販売停止中", {value: false, style: "display: inline-block;"} %>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3 font-weight-bold"></div>
      <%= link_to_remove_association "削除", item, class: "btn btn-danger px-4 mb-3" %>
    </div>

  </div>

</div>