<%= render 'layouts/admin-header' %>
<div class="container">

<h3 class="mb-3 mt-3">商品一覧</h3>

<table class="table">
  <thead>
    <th>デザインID</th>
    <th></th>
    <th>デザイン名</th>
    <th>ジャンル</th>
    <th>税抜価格</th>
  </thead>
  <tbody>
  <% @designs.each do |design| %>
  <tr>
    <td><%= link_to admin_design_path(design.id) do %><%= design.id %><% end %></td>
    <td></td>
    <td><%= design.design_name %></td>
    <td><%= design.genre.name %></td>
    <td><%= design.design_price %></td>
  </tr>
  <% end %>
  </tbody>

</div>