<div id="splash">
<div id="splash_logo"><!--<div class="fadeUp">花</div><div class="fadeUp2">広</div><div class="fadeUp3">場</div>--><div class="fadeUp"></div></div><!--画像部分は適宜差し換えてください-->
<!--/splash--></div>

<div class="top-container">
  <div class="row-header">
    <%= link_to root_path, class: "path" do %>
      <span class="header-text">花広場 ～つまみ細工～</span>
    <% end %>
  </div>

  <div class="row-center">
    <div class="m1-center">
      <%= link_to designs_path do %><span class="menu-text1">商品一覧</span><% end %>
      <%= link_to cart_items_path do %><span class="menu-text2">カート</span><% end %>
    </div>

    <div class="photo-center">
      <div class="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
      </div>
    </div>

    <div class="m1-center">
      <% if customer_signed_in?%>
        <%= link_to customer_path(current_customer.id) do %><span class="menu-text3">マイページ</span><% end %>
        <%= link_to destroy_customer_session_path, method: :delete do %><span class="menu-text4">ログアウト</span><% end %>
      <% else %>
        <%= link_to new_customer_session_path do %><p class="menu-text3">ログイン</p><% end %>
        <%= link_to new_customer_registration_path do %><p class="menu-text4">新規登録</p><% end %>
      <% end %>
    </div>
  </div>

  <div class="row-footer">
    <span class="footer-text">---身近にもっと和を---</span>
  </div>





  <!--ハンバーガーアイコン-->
  <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span>menu</span>
        <span></span>
      </a>
  </div>

  <!--ハンバーガーメニュー中身-->
  <div id="sp-menu">
    <ul class="menu-content">
      <%= link_to designs_path, class: "path_line" do %><li>商品一覧</li><% end %>
      <%= link_to cart_items_path, class: "path_line" do %><li>カート</li><% end %>
      <% if customer_signed_in?%>
      <%= link_to customer_path(current_customer.id), class: "path_line" do %><li>マイページ</li><% end %>
      <%= link_to destroy_customer_session_path, method: :delete, class: "path_line" do %><li>ログアウト</li><% end %>
      <% else %>
      <%= link_to new_customer_session_path, class: "path_line" do %><li>ログイン</li><% end %>
      <%= link_to new_customer_registration_path, class: "path_line" do %><li>会員登録</li><% end %>
      <% end %>
    </ul>
  </div>

</div>
<script>
$(function(){
  $("#splash").delay(1500).fadeOut('slow');//ローディング画面を1.5秒（1500ms）待機してからフェードアウト
  $("#splash_logo").delay(1500).fadeOut('slow');//ロゴを1.2秒（1200ms）待機してからフェードアウト
});



//スライドショー
$(window).on('load',function () {
  $(".theTarget").skippr({
    // スライドショーの変化 ("fade" or "slide")
    transition : 'fade',
    // 変化に係る時間(ミリ秒)
    speed : 1000,
    // easingの種類
    navType : 'false',
    // 子要素の種類('div' or 'img')
    childrenElementType : 'div',
    // ナビゲーション矢印の表示(trueで表示)
    arrows : false,
    // スライドショーの自動再生(falseで自動再生なし)
    autoPlay : true,
    // 自動再生時のスライド切替間隔(ミリ秒)
    autoPlayDuration : 2000,
    // キーボードの矢印キーによるスライド送りの設定(trueで有効)
    keyboardOnAlways : true,
    // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
    hidePrevious : false
  });
});

/*ハンバーガーメニューtop*/
$(document).ready(function () {
  $('.menu-trigger').on('click', function(event) {
    $(this).toggleClass('active');
    $('#sp-menu').fadeToggle();
    event.preventDefault();
  });
});

</script>