<%= render 'layouts/admin-header' %>


<div class="container">

  <h3 class="mb-3 mt-3">注文一覧</h3>

  <table class="table">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>会員ID</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>製作状況</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= link_to admin_order_path(order.id) do %><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %><% end %></td>
        <td><%= order.customer_id %></td>
        <td><%= order.customer.full_name %></td>
        <td><%= order.order_details.sum(:amount) %></td>
        <td><%= order.making_status_i18n %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
