<div class="genre-body">
  
  <div class="genre-header">
    <div class="genre-nav"></div>
    <div class="nav-text">
    <p>マイページ</p>
    <p>ジャンル</p>
    <p>すべての商品</p></p>
    <p>カート</p>
    <p>ログイン</p>
    <p>会員登録</p>
    </div>
  </div>

  <span class="genre-name">髪飾り</span><%= link_to "髪飾り一覧を見る＞", designs_path(genre_id: 1), class: "design-link" %>

  <div class="genre-box">
    <% @design1.each do |design| %>
      <%= link_to design_path(design.id) do %>
        <div class="genre-image"><%= image_tag design.images[0].variant(resize: "300x300")%></div>
      <% end %>
    <% end %>
  </div>

 <div class="genre-name-box"><%= link_to "インテリア一覧を見る", designs_path(genre_id: 2), class: "design-link" %><span class="genre-name2">インテリア</span></div>

  <div class="genre-box2">
    <% @design2.each do |design| %>
      <%= link_to design_path(design.id) do %>
        <div class="genre-image"><%= image_tag design.images[0].variant(resize: "300x300")%></div>
      <% end %>
    <% end %>
  </div>

  <span class="genre-name">アクセサリー</span><%= link_to "アクセサリー一覧を見る＞", designs_path(genre_id: 4), class: "design-link" %>

  <div class="genre-box">
    <% @design4.each do |design| %>
      <%= link_to design_path(design.id) do %>
        <div class="genre-image"><%= image_tag design.images[0].variant(resize: "300x300")%></div>
      <% end %>
    <% end %>
  </div>

  <div class="design-footer">
    <div class="icon"></div>
  </div>

</div>