<style>
.container {
  width: 40%;
  margin-top: 50px;
}

.review-box {
  border: thin solid black;
  margin: 10px 0;
}
.review-box div {
  display: flex;
  align-items: center;
}

.review-img {
  width: 100px;
  height: auto;
}

.review-click {
  text-align: center;
}

.btn-green {
  color: white;
  background: #669933;
  margin: 0 auto;
}
.btn-green:hover {
  color: white;
  background: #CC6600;
}

.btn-orange {
  color: white;
  background: #CC6600;
  margin: 0 auto;
}
.btn-orange:hover {
  color: white;
  background: #669933;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .review-img {
    width: 80px;
    height: auto;
  }
}
</style>

<%= render 'layouts/header', genre: @genre %>

  <div class="container">

    <div class="row justify-content-center mb-3">
      <h5>レビュー一覧</h5>
    </div>

  <p class="review-click">
    <span class="review-back"><%= link_to "商品ページに戻る", design_path(@design.id), class: "btn btn-green" %></spna>
    <% if customer_signed_in? %>
        <span class="review-new"><%= link_to "この商品のレビューを書く", new_review_path(design_id: @design.id), class: "btn btn-orange" %></span>
    <% end %>
  </p>
    <% @reviews.each do |review| %>

    <div class="review-box">
      <div>

      <% if review.image.attached? %>
        <%= image_tag review.image, class: "review-img" %>
      <% end %>

        <div id="star-rate-<%= review.id %>" class="ml-4"></div>
      </div>
      <p><%= review.body %></p>

    </div>


    <script>
        $('#star-rate-<%= review.id %>').raty({
          size: 36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,   /*星半分表示*/
          readOnly: true,   /*読み取り専用*/
          score: <%= review.rate %>,   /*星評価の表示*/
        });
    </script>

    <% end %>
  </div>
