<style>

  .body {
    font-family: 'Zen Antique', serif;
  }
  .registration-box {
    width: 360px;
    margin: 0 auto;
  }
  .registration-box div {
    margin-bottom: 10px;
  }
  .registration-box p {
    margin: 3px 0 3px 0;

  }
  .registration-box span {
    display: inline-block;
    width: 50px;
    text-align: center;
  }
  .long {
    width: 360px;
    box-sizing:border-box;
  }
  .short {
    width: 177px;
  }
  .btn-purple {
    color: white;
    background: #6A5ACD;
    transition: 0.5s;
  }
  .btn-purple:hover {
    color: white;
    background: #4B0082;
    transition: 0.5s;
  }
</style>

<div class="body">
  <%= render 'public/shared/custom_error_messages' %>

    <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <h2 class="my-5 text-center">マイページ</h2>

      <div class="registration-box">

        <div>
          <p>名前</p>
          <label>
            <p>(姓)</p><%= f.text_field :last_name, autofocus: true, placeholder: "例)令和", class: "short" %>
          </label>
          <label>
            <p>(名)</p><%= f.text_field :first_name, placeholder: "例)道子", class: "short" %>
          </label>
        </div>

        <div>
          <p>フリガナ</p>
          <label>
            <p>(セイ)</p><%= f.text_field :last_name_kana, placeholder: "例)レイワ" %>
          </label>
          <label>
            <p>(メイ)</p><%= f.text_field :first_name_kana, placeholder: "例)ミチコ" %>
          </label>
        </div>

        <div>
          <label>
          <p>メールアドレス</p>
            <%= f.text_field :email, id:"customer_Email", placeholder: "例)〇〇〇@example.com", class: "long" %>
          </label>
        </div>


        <div>
          <label>
            <p>郵便番号</p>
            <%= f.text_field :postal_code, autofocus: true, id:"customer_Postal_code", placeholder: "例)0000000", class: "short" %>
          </label>
        </div>

        <div>
          <label>
            <p>住所</p>
            <%= f.text_area :address, autofocus: true, id:"customer_address", placeholder: "東京都渋谷区代々木神園町0-0", class: "long" %>
          </label>

        </div>

        <div>
          <label>
            <p>電話番号(ハイフンなし)</p>
            <%= f.text_field :telephone_number, autofocus: true, id:"customer_Telephone_number", placeholder: "0000000000", class: "short" %>
          </label>
        </div>

        <div>
          <label>
            <p>パスワード(6文字以上)</p>
            <%= f.password_field :password, autocomplete: "new-password", class: "short" %>
        </div>
                <div>
          <label>
            <p>パスワード(確認用)</p>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "short" %>
        </div>

        <%= f.submit "新規登録", class: "long btn btn-purple" %>


      </div>
    <% end %>
</div>