<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @customer.full_name %>様</h1>

    <p><<お支払いをお願いいたします>></p>


    <p>以下の商品のご購入手続きが完了いたしました。</p>


    <p>引き続き、振込でのお支払いをお願いいたします。</p>

    <p>■購入情報</p>
    <% @order.order_details.each do |order_detail| %>
      <p>---------------------------</p>
      <p>商品名：<%= order_detail.item.design.design_name %></p>
      <p>価格 &emsp;：￥<%=order_detail.item.item_price %></p>
      <p>数量 &emsp;：1個</p>
      <p>---------------------------</p>
    <% end %>

    <p>===============</p>
    <p>購入日時：<%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <p>取引状況：お支払い待ち</p>
    <p>送料：<%= @order.postage %></p>
    <p>合計：<%= @order. total_price%></p>
    <p>===============</p>
    <br>
    <p>■お支払い（振込）</p>
    <p>---------------------------</p>
    <p>銀行名：〇〇〇銀行</p>
    <p>支店名：〇〇支店</p>
    <p>口座番号：＜普通＞000000</p>
    <p>---------------------------</p>

    <p>●入金が確認ができ次第、商品の製作をスタートします。</p>

    <p>●お客様からの入金が確認できましたら、サイトの
    　 「マイページ」→「注文履歴一覧を見る」→「注文詳細」ページのステータスが更新されます。
        製作状況などもこちらでご確認いただけます。
    </p>

    <p>●2週間以上経過しても入金の確認が取れなかった場合、
       ご購入をキャンセルさせていただく場合がございます。
       ご了承ください。
    </p>


  </body>
</html>