<style>
table img {
  width: 80px;
}
table {
  width: 100%;
  border: 2px solid #000055;
  margin: 0 auto;
  background-color: white;
}
.order-index-box {
  font-size: min(1.5vw,16px);
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;

}
.order-index-box p {
  color: black;
}

.order-index-box a {
  text-align: right;
  text-decoration: underline;
  color: black;
}
.order-index-box a:hover {
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .order-index-box {
    width: 100%;
  }
  table img {
    width: 50px;
  }
}

</style>

<%= render 'layouts/header', genre: @genre %>
<div class="body">
  <div class="container">
    <h5 class="text-center">注文履歴一覧</h5>


    <% @orders.each do |order| %>

      <div class="order-index-box">
        <span><%= order.created_at.strftime('%Y/%m/%d') %></span>
        <table>
          <tr><th class="col-xl-1 col-lg-3 col-md-3 col-sm-3 col-3">配送先</th><td>〒<%= order.postal_code %>  <%= order.address %></td></tr>
          <tr><th class="col-2">宛名</th><td><%= order.name %></td></tr>
          <tr><th class="col-2">注文商品</th>
            <td class="align-middle"><% order.order_details.each do |order_detail| %>
              <%= image_tag order_detail.item.image %><%= order_detail.item.design.design_name %>
              <% end %>
            </td>
          </tr>
          <tr><th class="col-2">支払金額</th><td><%= order.total_price.to_s(:delimited) %>円</td></tr>
          <tr><th class="col-2">製作状況</th><td><%= order.making_status_i18n %></td></tr>
        </table>
        <%= link_to order_path(order.id) do %><p>注文詳細を見る></p><% end %>
      </div>
    <% end %>

  </div>
</div>