<head>
  <%= stylesheet_link_tag 'public/orders_new' %>
</head>

<%= render 'layouts/header', genre: @genre %>

<div class="body">

  <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>


    <h5 class="text-center mb-5">注文情報入力(お届け先)</h5>

    <div class="orders-new-box">

      <div>
        <p>
          <%= f.radio_button :select_address, "0" , {required: true}%>
          <%= f.label :select_address_0, "ご自身の住所" %>
        </p>
        <p>[〶]<%= @customer.postal_code %><br>[住所]<%= @customer.address %><br>[宛名]<%= @customer.full_name %></p>
      </div>

      <div>
        <p>
          <%= f.radio_button :select_address, "1" %>
          <%= f.label :select_address_1, "過去のお届け先履歴から選択" %>
        </p>
        <p><%= f.select :address_id, options_from_collection_for_select(@customer.addresses.all, :id, :address_display), class: "long-input" %></p>
      </div>

      <div>
        <p>
          <%= f.radio_button :select_address, "2" %>
          <%= f.label :select_address_2, "新しいお届け先を登録" %>
        </p>

        <label class="short-label">
          <p>郵便番号</p>
          <%= f.text_field :postal_code, autofocus: true, id:"postal_code", placeholder: "例)0000000", class: "short-input" %>
        </label>

        <label class="long-label">
          <p>住所</p>
          <%= f.text_area :address, autofocus: true, id:"address", placeholder: "例)東京都渋谷区代々木0-0", class: "long-input" %>
        </label>

        <label class="short-label">
          <p>宛名</p>
          <%= f.text_field :name, autofocus: true, id:"name", placeholder: "例)令和道子", class: "short-input" %>
        </label>
      </div>

      <p class="input-orders-new"><%= f.submit "確認画面へすすむ", class: "btn btn-purple-orders-new" %></p>


    </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>
