<head>
  <%= stylesheet_link_tag 'public/sessions_new' %>
</head>


<div class="body">

  <%= form_with model: @customer, url: customer_session_path do |f| %>

    <h2 class="my-5 text-center">ログイン</h2>

    <div class="registration-box">
      <%= render 'public/shared/custom_error_messages' %>

      <div>
        <label class="long-label">
        <p>メールアドレス</p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "long-input" %>
        </label>
      </div>

      <div>
        <label class="long-label">
        <p>パスワード</p>
          <%= f.password_field :password, autocomplete: "current-password", required: true, class: "long-input" %>
        </label>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "パスワードをお忘れですか?", new_customer_password_path(resource_name) %>
        <% end %>
      </div>


      <%= f.submit "ログイン", class: "long-input btn btn-purple-session" %>
      <%= link_to "ログインをやめる", designs_path, class: "long-input btn btn-back-session" %>

      <p>
        会員登録がお済みでない方<br>
        <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
      </p>

    </div>
  <% end %>
</div>