
<% if customer_signed_in? %>
  <header>
    <div class="nav-text">
      <li>ジャンルで選ぶ</li>
      <% genre.each do |genre| %>
        <%= link_to designs_path(genre_id: genre.id), class: "path" do %><li class="nav-genre">&emsp;--<%= genre.name %></li><% end %>
      <% end %>
        <%= link_to designs_path, class: "path" do %><li class="nav-name">すべての商品</li><% end %>
        <%= link_to cart_items_path, class: "path" do %><li class="nav-name">カート</li><% end %>
        <%= link_to customer_path(current_customer.id), class: "path" do %><li class="nav-name">マイページ</li><% end %>
        <%= link_to destroy_customer_session_path, method: :delete, class: "path" do %><li class="nav-name">ログアウト</li><% end %>
    </div>
    <div class="login-content">
      <%= current_customer.last_name %>さんログイン中
    </div>
  </header>

  <% else %>
  <header>
    <div class="nav-text">
      <li>ジャンルで選ぶ</li>
      <% genre.each do |genre| %>
        <%= link_to designs_path(genre_id: genre.id), class: "path" do%><li class="nav-genre">&emsp;--<%= genre.name %></li><% end %>
      <% end %>
        <%= link_to designs_path, class: "path" do %><li class="nav-name">すべての商品</li><% end %>
        <%= link_to cart_items_path, class: "path" do %><li class="nav-name">カート</li><% end %>
        <%= link_to new_customer_session_path, class: "path" do %><li class="nav-name">ログイン</li><% end %>
        <%= link_to new_customer_registration_path, class: "path" do %><li class="nav-name">会員登録</li><% end %>
    </div>
      <div class="login-content">
        <p class="text-center text-white lead"><%= flash[:notice] %></p>
      </div>
  </header>
<% end %>


  <!--ハンバーガーアイコン-->
<div id="public-hm-icon">
  <a class="menu-trigger" href="#">
    <span></span>
    <span>menu</span>
    <span></span>
  </a>
</div>



<div id="sp-menu">
  <ul class="menu-content">
    <% genre.each do |genre| %>
      <%= link_to designs_path(genre_id: genre.id), class: "path_line" do %><li class="nav-genre"><%= genre.name %></li><% end %>
    <% end %>

    <%= link_to designs_path, class: "path_line" do %><li>すべての商品</li><% end %>
    <%= link_to cart_items_path, class: "path_line" do %><li>カート</li><% end %>
    <% if customer_signed_in?%>
    <%= link_to customer_path(current_customer.id), class: "path_line" do %><li>マイページ</li><% end %>
    <%= link_to destroy_customer_session_path, method: :delete, class: "path_line" do %><li>ログアウト</li><% end %>
    <% else %>
    <%= link_to new_customer_session_path, class: "path_line" do %><li>ログイン</li><% end %>
    <%= link_to new_customer_registration_path, class: "path_line" do %><li>会員登録</li><% end %>
    <% end %>
  </ul>
</div>
