
<% if customer_signed_in? %>
  <div class="header">
    <div class="nav-text">
      <li>ジャンルで選ぶ</li>
        <%= link_to designs_path(genre_id: 1), class: "path" do %><li class="nav-genre">&emsp;--髪飾り</li><% end %>
        <%= link_to designs_path(genre_id: 2), class: "path" do %><li class="nav-genre">&emsp;--インテリア</li><% end %>
        <%= link_to designs_path(genre_id: 4), class: "path" do %><li class="nav-genre">&emsp;--アクセサリー</li><% end %>
        <%= link_to designs_path, class: "path" do %><li class="nav-name">すべての商品</li><% end %>
        <%= link_to cart_items_path, class: "path" do %><li class="nav-name">カート</li><% end %>
        <%= link_to customer_path(current_customer.id), class: "path" do %><li class="nav-name">マイページ</li><% end %>
        <%= link_to new_customer_registration_path, class: "path" do %><li class="nav-name">ログアウト</li><% end %>
    </div>
    <div class="design-nav"></div>
    <%= current_customer.last_name %>
  </div>
  <% else %>
  <div class="header">
    <div class="nav-text">
      <li>ジャンルで選ぶ</li>
        <%= link_to designs_path(genre_id: 1), class: "path" do %><li class="nav-genre">&emsp;--髪飾り</li><% end %>
        <%= link_to designs_path(genre_id: 2), class: "path" do %><li class="nav-genre">&emsp;--インテリア</li><% end %>
        <%= link_to designs_path(genre_id: 4), class: "path" do %><li class="nav-genre">&emsp;--アクセサリー</li><% end %>
        <%= link_to designs_path, class: "path" do %><li class="nav-name">すべての商品</li><% end %>
        <%= link_to cart_items_path, class: "path" do %><li class="nav-name">カート</li><% end %>
        <%= link_to new_customer_session_path, class: "path" do %><li class="nav-name">ログイン</li><% end %>
        <%= link_to new_customer_registration_path, class: "path" do %><li class="nav-name">会員登録</li><% end %>
    </div>
    <div class="nav"></div>
  </div>
<% end %>
