

  <header>
    <div class="header-background">
      <div class="header-sakura">
        <div class="nav-hanahiroba-icon"></div>
        <div class="nav-text">
          <li>ジャンルで選ぶ</li>
          <% genre.each do |genre| %>
            <%= link_to designs_path(genre_id: genre.id), class: "path" do %><li class="nav-genre">&emsp;--<%= genre.name %></li><% end %>
          <% end %>
          <%= link_to designs_path, class: "path" do %><li class="nav-name">すべての商品</li><% end %>
          <%= link_to cart_items_path, class: "path" do %><li class="nav-name">カート</li><% end %>
          <% if customer_signed_in? %>
            <%= link_to customers_my_page_path, class: "path" do %><li class="nav-name">マイページ</li><% end %>
            <%= link_to destroy_customer_session_path, method: :delete, class: "path" do %><li class="nav-name">ログアウト</li><% end %>
          <% else %>
            <%= link_to new_customer_session_path, class: "path" do %><li class="nav-name">ログイン</li><% end %>
            <%= link_to new_customer_registration_path, class: "path" do %><li class="nav-name">会員登録</li><% end %>
          <% end %>
        </div>
        <div class="login-content">
          <% if customer_signed_in? %>
            <p>◆<%= current_customer.last_name %>さんログイン中</p>
            <!--<p>ログイン中</p>-->
          <% else %>
            <p><%= flash[:notice] %></p>
          <% end %>
        </div>
      </div>
    </div>
  </header>




<!--ハンバーガーアイコン-->
<div class="public-sidebar">
  <div class="public-hanahiroba-icon"></div>
  <div id="public-hm-icon">
    <a class="menu-trigger" href="#">
      <span></span>
      <span>menu</span>
      <span></span>
    </a>
  </div>
</div>




<div id="sp-menu">
  <ul class="menu-content">
    <% genre.each do |genre| %>
      <%= link_to designs_path(genre_id: genre.id), class: "path_line" do %><li class="nav-genre"><%= genre.name %></li><% end %>
    <% end %>

    <%= link_to designs_path, class: "path_line" do %><li>すべての商品</li><% end %>
    <%= link_to cart_items_path, class: "path_line" do %><li>カート</li><% end %>
    <% if customer_signed_in?%>
      <%= link_to customers_my_page_path, class: "path_line" do %><li>マイページ</li><% end %>
      <%= link_to destroy_customer_session_path, method: :delete, class: "path_line" do %><li>ログアウト</li><% end %>
    <% else %>
      <%= link_to new_customer_session_path, class: "path_line" do %><li>ログイン</li><% end %>
      <%= link_to new_customer_registration_path, class: "path_line" do %><li>会員登録</li><% end %>
    <% end %>
  </ul>
</div>




<script>
  // $(document).ready(function () {
  //   particlesJS(".header-background", {
  //   	"particles":{
  //   		"number":{
  //   			"value":30,//この数値を変更すると桜の数が増減できる
  //   			"density":{
  //   				"enable":true,
  //   				"value_area":1121.6780303333778
  //   			}
  //   		},
  //   		"color":{
  //   			"value":"#fff"
  //   		},
  //   		"shape":{
  //   			"type":"image",//形状は画像を指定
  //   			"stroke":{
  //   				"width":0,
  //   			},
  //   			"image":{
  //   				"src":"icon49_5.png",//【重要】画像を指定！桜の画像を設定してください。
  //   				"width":120,
  //   				"height":120
  //   			}
  //   		},
  //   		"opacity":{
  //   			"value":0.06409588744762158,
  //   			"random":true,
  //   			"anim":{
  //   				"enable":false,
  //   				"speed":1,
  //   				"opacity_min":0.1,
  //   				"sync":false
  //   			}
  //   		},
  //   		"size":{
  //   			"value":8.011985930952697,
  //   			"random":true,//サイズをランダムに
  //   			"anim":{
  //   				"enable":false,
  //   				"speed":4,
  //   				"size_min":0.1,
  //   				"sync":false
  //   			}
  //   		},
  //   		"line_linked":{
  //   			"enable":false,
  //   		},
  //   		"move":{
  //   			"enable":true,
  //   			"speed":7,//この数値を小さくするとゆっくりな動きになる
  //   			"direction":"bottom-right",//右下に向かって落ちる
  //   			"random":false,//動きはランダムにしない
  //   			"straight":false,//動きをとどめない
  //   			"out_mode":"out",//画面の外に出るように描写
  //   			"bounce":false,//跳ね返りなし
  //   			"attract":{
  //   				"enable":false,
  //   				"rotateX":281.9177489524316,
  //   				"rotateY":127.670995809726
  //   			}
  //   		}
  //   	},
  //   	"interactivity":{
  //   		"detect_on":"canvas",
  //   		"events":{
  //   			"onhover":{
  //   				"enable":false,
  //   			},
  //   			"onclick":{
  //   				"enable":false,
  //   			},
  //   			"resize":true
  //   		}
  //   	},
  //   	"retina_detect":false
  //   });
  // });

</script>